*{
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: black;
}

/* --------Front Welcome start code---------- */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
	stroke-width: 2;
	stroke: #03a9f4;
	font-size: 100px;
  width: 100%;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: #03a9f4;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: #03a9f4;; }
	80%  {fill: rgba(72,138,204,0); stroke: #03a9f4;; stroke-width: 3; }
	100% {
		fill: #03a9f4; stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.wrapper {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
}



/* --------Wave Code start---------- */


.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;

  overflow: hidden;
}
.water-effect {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 130%;
  animation: stretch 15s ease-in-out;
  animation-iteration-count:1;
	
	
}

.water-effect .waves {
  height: 210px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(3,169,244,1) 100%);
  animation: waves 2s ease-in-out infinite;
	
}

.water-effect .water {
  height: 100vh;
  margin-top: -1px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  color: black;
  position: relative;
}

.water::-webkit-scrollbar {
  display: none;
}


@keyframes waves {
  0%, 100% {
    clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%, 46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%, 89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 15%, 9% 21%, 14% 23%, 18% 25%, 21% 26%, 30% 28%, 32% 28%, 40% 27%, 46% 26%, 52% 23%, 57% 19%, 62% 15%, 68% 11%, 73% 8%, 79% 6%, 86% 5%, 93% 5%, 100% 6%, 100% 100%, 0% 100%);
  }
}

/* @keyframes stretch {
  0% {
    bottom:-130%;
  }
	40%{
		bottom: -130%;
	}
  100% {
    bottom: -1px;
  }
} */



/* -----------header start----------- */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000000;
  box-shadow: 0px 1px 10px lightgrey;
  background-color: white;
}
.header{
  animation: disappear 16s  ease-in-out 1;

}
/* @keyframes disappear {
  0%{transform: scale(0);}
  90%{transform: scale(0);}
  100%{transform: scale(1);}
} */

header .logo{
  margin-left: 80px;
  font-size: 20px;
}
header nav{
  display: flex;
  margin-right: 50px;
  align-items: center;
}
header nav a{
  font-weight: 500;
  margin-right: 40px;
  font-size: 15px;
}
header .toggle{
  display: none;
  flex-direction: column;
  gap: -3px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  box-shadow: 0px 2px 15px rgb(140, 139, 139);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  width: 40px;
  height: 40px;
  margin-right: 50px;
}
header .toggle p{
  background-color: black;
  width: 20px;
  height: 4px;
  margin-top: 2px;
  border-radius: 5px;
  margin-bottom: 2px;
  /* border: 2px solid black; */
}
header nav a:hover{
  color: rgb(134, 134, 134);
}
header nav button{
  margin-left: 50px;
  padding: 7px 30px 10px;
  border-radius: 50px;
  font-weight: 500;
  background-color: #4351e8;
  color: white;
}


/* -----------body start----------- */




.herodiv{
  display: flex;
  position: absolute;
  /* top: 30%; */
  left: 10%;
  width: 80%;
  z-index: 1000;
  padding-top: 250px;
  justify-content: space-between;
  /* border: 2px solid black; */
}


.herodiv .language{
  margin-top: 70px;
}
.herodiv .box1 , .box2{
  display: flex;
}

.herodiv .language .white{
  color: white;
}
.herodiv .box2{
  margin-top: 15px;
}
.herodiv .language .css{
  background-color: rgb(255, 142, 61);
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
}
.herodiv .language .html{
  background-color: rgb(251, 105, 0);
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
}
.herodiv .language .java{
  background-color: rgb(36, 31, 33);
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
}
.herodiv .language .javascript{
  background-color: rgb(225, 225, 225);
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
}

.herodiv > img{
  width: 500px;
  height: 500px;
  margin-top: -100px;
  border: 15px solid rgba(90, 89, 89,0.8);
  outline-color: rgba(180, 180, 180,0.3);
  outline-style: solid;
  outline-width: 10px;
  border-radius: 50%;
  /* margin-right: 15%; */
}

.heromaindiv h1{
  font-size: 50px;
  font-weight: 500;
  font-family: 'Jura', sans-serif;
}
.heromaindiv h1 span{
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}
.heromaindiv>p{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}

.ani{
  display: inline-flex;
  overflow: hidden; 
  text-wrap: nowrap; 
  color: grey;
}

.ani1{
  animation: animate1 10s steps(18, end) infinite;
}
.ani2{
  animation: animate2 10s steps(18, end) infinite;
}

@keyframes animate1 {
  0%{
      width: 0; 
  }
  30%{
      width: 285px;
  }
  45%{
      width: 285px;
  }
  50%{
      width: 0px;
  }
  100%{
      width: 0;
  }
}
@keyframes animate2 {
  0%{
      width: 0;
  }
  51%{
    width: 0px;
  }
  80%{
    width: 280px;
  }
  95%{
      width: 280px;
  }
  99%{
    width: 0px;
  }
  100%{
    width: 0;
  }
}


.heromaindiv a p{
  display: inline-block;
  background-color: #4351e8;
  color: white;
  padding: 10px 25px;
  font-weight: 400;
  border-radius: 50px;
  box-shadow: 0px 5px 15px black;
  animation: vib 5s infinite;
  text-wrap: nowrap;
  
}
@keyframes vib{
  0%{transform: skewY(0deg);}  
  40%{transform: skewY(0deg);}  
  42%{transform: skewY(5deg);}  
  44%{transform: skewY(-5deg);}  
  46%{transform: skewY(5deg);}  
  48%{transform: skewY(-5deg);}  
  50%{transform: skewY(5deg);}  
  52%{transform: skewY(-5deg);}  
  54%{transform: skewY(5deg);}  
  56%{transform: skewY(-5deg);}  
  58%{transform: skewY(5deg);}  
  60%{transform: skewY(0deg);}  
  100%{transform: skewY(0deg);}  
}
.mergeimg{
  position: absolute;
  width: 100;
  height: 800px;
  top: 45%;
  display: flex;
  flex-direction: column;
}
.mergeimg .roundimg{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOTAwIDI4NS40OCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2YyZjRmNzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmJhY2stMDAtYTE8L3RpdGxlPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjg5NS42NywyODUuNDhjLTE0OS44OS0yMDcuMzktMzg4LjgyLTIzNi4yNC03OTAtMTc5LjRsLTc3Mi4yMiwxMDkuNGMtMjcxLDM4LjQtNDQxLjg2LTI2LjA5LTYxNC44LTIxNS40OEwzMDkuNTUsNThDMjYzLDE1Mi4zNSwyMTEsMjI3LjI3LDE0Ny4xNiwyODUuNDhaIi8+PC9zdmc+);
  width: 200vw;
  background-position: -1200px ;
  background-size: cover;
  height: 400px;
  padding-right:2px;
}

.mergeimg .roundimgopp{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOTAwIDI4NS40OCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2YyZjRmNzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmJhY2stMDAtYTE8L3RpdGxlPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjg5NS42NywyODUuNDhjLTE0OS44OS0yMDcuMzktMzg4LjgyLTIzNi4yNC03OTAtMTc5LjRsLTc3Mi4yMiwxMDkuNGMtMjcxLDM4LjQtNDQxLjg2LTI2LjA5LTYxNC44LTIxNS40OEwzMDkuNTUsNThDMjYzLDE1Mi4zNSwyMTEsMjI3LjI3LDE0Ny4xNiwyODUuNDhaIi8+PC9zdmc+);
  width: 200vw;
  transform: rotate(180deg);
  background-size: cover;
  height: 400px;
  padding-right:2px;
}




#about{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150vh;
  box-sizing: border-box;
  margin-bottom: -50px;
}
#about .firstcolordesign{
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 40px solid rgba(3,169,244,1);
  border: 37px solid rgba(3,169,244,0.9);
  box-sizing: border-box;
  width: 80%;
}

#about .aboutcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#about img{
  width: 250px;
}


#about .aboutcontent .content{
  width: 100%;
  font-size: 14px;
  padding: 0px 0px 0px 20px;
}
#about h1{
  text-align-last: center;
  margin-bottom: 15px;
  margin-top: 20px;
  color:rgba(3,169,244,0.5) ;
  text-shadow: 5px 5px 15px rgb(118, 118, 118);
  animation: flip 5s infinite; 
}

#about p{
  line-height: 1.5;
  text-align: justify;
  padding: 0px 15px 0px 0px ;
}
#about h3{
  margin-top: 5px;
}
@keyframes flip {
  0%{ transform: rotateX(0deg);}
  35%{ transform: rotateX(0deg);}
  40%{ transform: rotateX(360deg);}
  45%{ transform: rotateX(720deg);}
  50%{ transform: rotateX(1080deg);}
  55%{ transform: rotateX(1440deg);}
  60%{ transform: rotateX(1800deg);}
  100%{ transform: rotateX(1800deg);}
}


#education{
  height: 156vh;
  width: 100vw;
  background-color: rgb(242, 242, 242);
}
#education .topwave{
  text-align:center;
  height:33vh;
  background-color: white;
  margin-bottom: 10px;
  clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
}
#education .bottomwave{
  background-color: rgb(242, 242, 242);
  text-align:center;
  height:22vh;
  clip-path: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
}
#education .content .heading{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  margin-top: 100px;
  animation: flip 5s infinite; 
}
#education .content .heading i{
  margin-right: 10px;
  font-size: 35px;
  text-shadow: 5px 5px 15px rgb(118, 118, 118);
}
#education .content .heading h1{
  text-shadow: 5px 5px 15px rgb(118, 118, 118);
}
#education .content .heading h1 span{
  color:rgba(3,169,244,0.5);
}
#education .educont{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 33px;
  background-color: rgb(242, 242, 242);
}

#education .educont .educontco{
  border: 2px solid black;
  width: 750px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px black;
}
#education .detail{
  width: 70%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#education .pic{
  width: 150px;
  height: 100%;
  border: 2px solid black;
  transform: rotate(45deg);
  overflow: hidden;
}
#education .pic1{
  background-image: url(../assets/img/anand.jpg);
  background-size: cover;
  transform: rotate(-45deg);
  width: 100%;
  scale: 1.41;
  height: 100%;
}
#education .pic2{
  background-image: url(../assets/img/khalsa.jpg);
  background-size: cover;
  transform: rotate(-45deg);
  width: 100%;
  scale: 1.40;
  height: 100%;
}
#education .pic3{
  background-image: url(../assets/img/newton.jpg);
  background-size: cover;
  transform: rotate(-45deg);
  width: 100%;
  scale: 1.41;
  height: 100%;

}



#projects{
  margin-top: 100px;
  height: 80vh;
  padding: 100px 2%;
}
#projects .heading{
  display: flex;
  justify-content: space-between;
}
#projects .heading .right a{
  display: flex;
  gap: 20px;
}
#projects .heading .right i{
  font-size: 25px;
}
#projects .carddiv{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0px 10%;
}
#projects .card{
  width: 300px;
  height: 350px;
  border-radius: 15px;
}
#projects .card2{
  margin-top: 100px;
}
#projects .card3{
  margin-top: 200px;
}
@media(max-width:1200px){
  #projects .carddiv{
    padding: 0%;
  }
  #projects .card{
    width: 280px;
    height: 320px;
    border-radius: 15px;
  }
  #projects .card>p{
    margin-top: 10px;
    font-weight: 600;
    margin-left: 15px;
    font-size: 18px;
  }
}
#projects .img1{
  background-image: url(../assets/img/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:-20px -2px;
  width: 100%;
  height: 70%;
  border-radius: 16px;
  box-shadow: 0px 5px 15px black;

  /* box-shadow: 2px 2px 15px lightgrey; */
}
#projects .img2{
  background-image: url(../assets/img/2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -20px;
  width: 100%;
  height: 70%;
  border-radius: 16px;
  box-shadow: 0px 5px 15px black;

  /* box-shadow: 2px 2px 15px lightgrey;
   */
  /* border: 2px solid red; */
}
#projects .img3{
  background-image: url(../assets/img/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -20px;
  width: 100%;
  height: 70%;
  border-radius: 16px;
  box-shadow: 0px 5px 15px black;
}
#projects .card>p{
  margin-top: 20px;
  font-weight: 600;
  margin-left: 15px;
  font-size: 20px;
}

#projects .img{
  position: relative;
}
#projects .count{
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  right: -10px;
}
#projects .card:hover .img{
  transform: scale(1.02);
  transition-duration: 0.2s;
  transition-timing-function: linear;   
}

#contact{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(144, 143, 143); */
}
#contact .card{
  width: 80%;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#contact input{
  border-radius: 5px;
  /* width: 100%; */
  height: 50px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  color: black;
  font-size: 14px;
}
#contact input:hover{
  background-color: rgb(226, 226, 226);
}
#contact input:focus{
  background-color: rgb(226, 226, 226);
}
#contact textarea{
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
}
#contact h1{
  animation: flip 5s infinite; 

}
#contact input::placeholder{
  font-size: 14px;
  color: rgb(142, 141, 141);
}
#contact textarea::placeholder{
  font-size: 14px;
  color: rgb(142, 141, 141);
}
#contact button{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #2406a9;
  margin: 0px auto;
  color: white;
}

footer{
  height: 60vh;
  width: 100vw;
  background-color: #0099ff;
  transform: rotate(180deg);
  clip-path:polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%); shape-outside: polygon(0% 0%, 0% 82.5%, 1.69492% 84.3293%, 3.38983% 86.1385%, 5.08475% 87.9078%, 6.77966% 89.6179%, 8.47458% 91.25%, 10.1695% 92.7862%, 11.8644% 94.2098%, 13.5593% 95.505%, 15.2542% 96.6578%, 16.9492% 97.6555%, 18.6441% 98.487%, 20.339% 99.1435%, 22.0339% 99.6176%, 23.7288% 99.9041%, 25.4237% 100%, 27.1186% 99.9041%, 28.8136% 99.6176%, 30.5085% 99.1435%, 32.2034% 98.487%, 33.8983% 97.6555%, 35.5932% 96.6578%, 37.2881% 95.505%, 38.9831% 94.2098%, 40.678% 92.7862%, 42.3729% 91.25%, 44.0678% 89.6179%, 45.7627% 87.9078%, 47.4576% 86.1385%, 49.1525% 84.3293%, 50.8475% 82.5%, 52.5424% 80.6708%, 54.2373% 78.8616%, 55.9322% 77.0922%, 57.6271% 75.3821%, 59.322% 73.75%, 61.017% 72.2138%, 62.7119% 70.7902%, 64.4068% 69.495%, 66.1017% 68.3422%, 67.7966% 67.3446%, 69.4915% 66.513%, 71.1864% 65.8565%, 72.8814% 65.3824%, 74.5763% 65.0959%, 76.2712% 65%, 77.9661% 65.0959%, 79.661% 65.3824%, 81.3559% 65.8565%, 83.0509% 66.513%, 84.7458% 67.3446%, 86.4407% 68.3422%, 88.1356% 69.495%, 89.8305% 70.7902%, 91.5254% 72.2138%, 93.2203% 73.75%, 94.9153% 75.3821%, 96.6102% 77.0922%, 98.3051% 78.8616%, 100% 80.6708%, 100% 0%);
  /* border: 1px solid red;   */
}
footer .rotate{
  transform: rotate(-180deg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .thank{
  padding-top: 100px;
}
footer .thank h3{
  margin-bottom: 20px;
  font-size: 28px;
  text-decoration: underline;
}
footer .thank h1{
  text-shadow: 5px 5px 15px black;
}
footer .thank h1 span{
  display: inline-block;
  animation: flip 5s infinite; 

}
footer .thank p{
  margin-bottom: 20px;
}

footer .middle{
  padding-top: 150px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
footer .middle .icons{
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}

footer .middle .link{
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
}
footer .middle .link p:hover{
  color: rgb(77, 77, 77);
  scale: 1.05;
}
footer .middle .link p{
  /* text-transform: uppercase; */
}

footer .contact .icons{
  margin-left: -10px;
}

footer .contact .icons i{

  font-size: 30px;
  margin:10px  7px 0px;
}
footer .middle>p{
  margin-bottom: 70px;
  font-family: Tahoma;
  font-size: 20px;
}

footer .contact{
  padding-top: 80px;
 
  /* border: 2px solid black; */
  
}
footer .contact .flex{
  display: flex;
  margin-top: 20px;
}

@media(max-width:1200px){
  
  #projects .carddiv{
    padding: 0%;
  }
  #projects .card{
    width: 280px;
    height: 320px;
    border-radius: 15px;
  }
  #projects .card>p{
    margin-top: 10px;
    font-weight: 600;
    margin-left: 15px;
    font-size: 18px;
  }
}

@media(max-width:1100px){
  .herodiv > img{
    width: 400px;
    height: 400px;
    margin-right: -80px;
  }
  .herodiv img{
    margin-bottom: 20px;
  }
  .heromaindiv > p{
    width: 350px;
  }
  .heromaindiv .combine{
    display: flex;
  }
  .herodiv .language{
    margin: 0px 0px 0px 55px;
  }
  .heormaindiv h1, .hermainodiv >p{
    display: inline;
  }
  .mergeimg .roundimg{
    background-position: -1200px ;
  }
  .mergeimg .roundimgopp{
   background-position: -500px;
  }
  .herodiv > img{
    width: 300px;
    height: 300px;
    margin-right: -60px;
    margin-top: 10px;
  }
  .middle{
    position: absolute;
    right: -10000000px;
  }  
}


@media(max-width:777px){
  .herodiv{
    top: -10%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .herodiv > img{
    
    margin-right: 50px;
   
  }
}





@media(max-width:976px){
  .aboutcontent{
    flex-direction: column;
  }
  
  #about img{
    width: 100px;
    height: 150px;
    padding-left: 23px;
  }
  #about p{
    line-height: 1.2;  
    font-size: 10px; 
  }
  header nav{
    display: none;
    
  }
  header .toggle{
    display: flex;
  }

  #projects .card{
    width: 220px;
    height: 260px;
  }
  #projects .card>p{
   
    font-size: 15px;
  }
  #education .educont .educontco{
    width: 550px;
    height: 130px;
    display: flex;
  }
}








@media(max-width:700px){
  #about .firstcolordesign{
    outline: 20px solid rgba(3,169,244,1);
    border: 15px solid rgba(3,169,244,0.9);
    
  }

  .mergeimg .roundimg{
    background-position: -1500px ;
  }
  
  .mergeimg .roundimgopp{
   background-position: -800px;
  }
  #projects .carddiv{
    flex-direction: column;
    align-items: center;
  }
  #projects .carddiv .card2{
    margin-top: 0;
  }
  #projects .carddiv .card3{
    margin-top: 0;
    margin-bottom: 20px;
  }
  #projects{
    height: 110vh;
  }
  #contact .card{
    height: 450px;
  }
  #contact textarea{
    height: 100px;
  }
  #contact input{
    height: 40px; 
  }

}







@media(max-width:630px){
  .herodiv > img{
    width: 300px;
    height: 300px;
  }
  #about{
    margin-top: 130vh;
  }
  .herodiv h1{
    font-size: 40px;
  }
  .herodiv .heromaindiv>p{
    font-size: 20px;
  }
  #education .content{
    margin-bottom: 150px;
  }
  #education .educont{
    width: 100%;
    height: 1200px;
    background-color: rgb(242, 242, 242);
  }
  #education .bottomwave{
  margin-top: -50px;

  }
  #education .educont .educontco h3{
    margin-bottom: 20px;
  }
  
  #education .educont .educontco{
    width: 80%;
    height: 300px;
    border: none;
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 5px 5px 15px black;
  }
  #education .detail{
    width: 90%;
    margin-top: 50px;
    margin-left: -5px;
    text-align: justify;
  }
  #education .heading{
    font-size: 15px;
  }
  #education .pic{
    width: 150px;
    height: 150px;
    margin-top: -50px;
    border: 2px solid black;
    transform: rotate(45deg);
    overflow: hidden;
  }
  #education .pic1{
    background-image: url(../assets/img/anand.jpg);
    background-size: cover;
    transform: rotate(-45deg);
    width: 100%;
    scale: 1.41;
    height: 100%;
  }
  #education .pic2{
    background-image: url(../assets/img/khalsa.jpg);
    background-size: cover;
    transform: rotate(-45deg);
    width: 100%;
    scale: 1.40;
    height: 100%;
  }
  #education .pic3{
    background-image: url(../assets/img/newton.jpg);
    background-size: cover;
    transform: rotate(-45deg);
    width: 100%;
    scale: 1.41;
    height: 100%;
  
  }
  #projects{
    margin-top: 800px;
  }

}






@media(max-width:500px){
  footer .thank{
    display: none;
  }
  footer{
    height: 300px;
  }
  footer .rotate{
    height: 300px;
  }
  footer .contact{
    display: flex;
  }
  footer .icons{
    justify-content: flex-end;
    align-items: flex-end;
  }
  #contact textarea{
    height: 100px;
  }
  #contact .card{
    height: 400px;
  }
  #contact input{
    height: 40px; 
  }

  
}

@media(max-width:438px){

  .herodiv > img{
    width: 200px;
    height: 200px;
    border: 10px solid rgba(90, 89, 89,0.8);
  outline-color: rgba(180, 180, 180,0.3);
  }
  #about{
    margin-top: 120vh;
  }
  #about img{
    width: 70px;
    height: 100px;
    padding-left: 23px;
    display: inline-block;
    /* border: 2px solid black; */
  }
  
  #about .aboutcontent .content{
    width: 100%;
    font-size: 14px;
    padding: 0px 5px 0px 15px;
    /* border: 2px solid black; */
  }
  #about h1{
    font-size: 20px;
  }
  #about .aboutcontent{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #about h3{
    font-size: 10px;
  }

  .mergeimg .roundimg{
    background-position: -1500px ;
  }
  
  .mergeimg .roundimgopp{
   background-position: -1000px;
  }
  #contact .card h1{
    font-size: 25px;
  }
  #contact .card{
    height: 350px;
  }
  #contact input{
    height: 30px; 
  }
  #contact textarea{
    height: 70px;
  }
}



@media(max-width:370px){
  .heromaindiv .combine{
    display: flex;
    flex-direction: column;
    
  }  
  .heromaindiv h1{
    margin-bottom: -25px;
  }
  .heromaindiv>p{
    margin-bottom: 10px;
  }
 
  
  #about{
    margin-top: 130vh !important;
  }
  .heromaindiv {
    margin-left: 100px;
  }
  .heromaindiv .combine .language{
    margin-left: 0px;
    margin-top: 50px;
  }
  #about{
    margin-top: 170vh;
  }

  .herodiv .language .css{
    background-color: rgb(255, 142, 61);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
  }
  .herodiv .language .html{
    background-color: rgb(251, 105, 0);
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
  }
  .herodiv .language .java{
    background-color: rgb(36, 31, 33);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
  }
  .herodiv .language .javascript{
    background-color: rgb(225, 225, 225);
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
  }
  .herodiv h1{
    font-size: 30px;
  }
  .herodiv .heromaindiv>p{
    font-size: 17px;
  }
  footer .contact{
   flex-direction: column;   
   height: 150px; 
  }
  footer .contact .flex{
    margin-top: 10px;
  }
}
















































