*{
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: black;
}

/* --------Front Welcome start code---------- */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
	stroke-width: 2;
	stroke: #03a9f4;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: #03a9f4;;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: #03a9f4;; }
	80%  {fill: rgba(72,138,204,0); stroke: #03a9f4;; stroke-width: 3; }
	100% {
		fill: #03a9f4; stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.wrapper {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
}



/* --------Wave Code start---------- */


.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  /* border: 5px solid #fff; */

  overflow: hidden;
}
.water-effect {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 130%;
  animation: stretch 15s ease-in-out;
  animation-iteration-count:1;
	
	
}

.water-effect .waves {
  height: 210px;
  /* background-color: #03a9f4; */
  /* background-color: black; */
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(3,169,244,1) 100%);
  animation: waves 2s ease-in-out infinite;
	
}

.water-effect .water {
  /* border: 2px solid black; */
  height: 200vh;
  margin-top: -1px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: #03a9f4; */
  background-color: white;
  color: black;
  position: relative;
}

.water::-webkit-scrollbar {
  display: none;
}


@keyframes waves {
  0%, 100% {
    clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%, 46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%, 89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 15%, 9% 21%, 14% 23%, 18% 25%, 21% 26%, 30% 28%, 32% 28%, 40% 27%, 46% 26%, 52% 23%, 57% 19%, 62% 15%, 68% 11%, 73% 8%, 79% 6%, 86% 5%, 93% 5%, 100% 6%, 100% 100%, 0% 100%);
  }
}

@keyframes stretch {
  0% {
    bottom:-130%;
  }
	40%{
		bottom: -130%;
	}
  100% {
    bottom: -1px;
  }
}



/* -----------header start----------- */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000000;
  box-shadow: 0px 1px 10px lightgrey;
  background-color: white;
  /* display: none; */
}
.header{
  animation: disappear 16s  ease-in-out 1;

}
@keyframes disappear {
  0%{transform: scale(0);}
  90%{transform: scale(0);}
  100%{transform: scale(1);}
}

header .logo{
  margin-left: 80px;
  font-size: 20px;
}
header nav{
  display: flex;
  margin-right: 50px;
  /* border: 2px solid pink; */
  align-items: center;
}
header nav a{
  font-weight: 500;
  margin-right: 40px;
  font-size: 15px;
  /* border: 2px solid red; */
}
header nav a:hover{
  color: rgb(134, 134, 134);
}
header nav button{
  margin-left: 50px;
  padding: 7px 30px 10px;
  border-radius: 50px;
  font-weight: 500;
  background-color: #4351e8;
  color: white;
  /* border: 2px solid black; */
}


/* -----------body start----------- */




.herodiv{
  display: flex;
  position: absolute;
  top: 15%;
  left: 10%;
  width: 90%;
  z-index: 1000;
  justify-content: space-between;
}
.herodiv > img{
  width: 400px;
  height: 400px;
  margin-top: -30px;
  border-radius: 50%;
  box-shadow: 0px 5px 15px black;
  margin-right: 15%;
}
.heromaindiv h1{
  font-size: 50px;
  font-weight: 500;
  font-family: 'Jura', sans-serif;
}
.heromaindiv h1 span{
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}
.heromaindiv>p{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}

.ani{
  display: inline-flex;
  overflow: hidden; 
  text-wrap: nowrap; 
  color: grey;
}

.ani1{
  animation: animate1 10s steps(18, end) infinite;
}
.ani2{
  animation: animate2 10s steps(18, end) infinite;
}

@keyframes animate1 {
  0%{
      width: 0; 
  }
  30%{
      width: 285px;
  }
  45%{
      width: 285px;
  }
  50%{
      width: 0px;
  }
  100%{
      width: 0;
  }
}
@keyframes animate2 {
  0%{
      width: 0;
  }
  51%{
    width: 0px;
  }
  80%{
    width: 280px;
  }
  95%{
      width: 280px;
  }
  99%{
    width: 0px;
  }
  100%{
    width: 0;
  }
}


.heromaindiv a p{
  display: inline-block;
  background-color: #4351e8;
  color: white;
  padding: 10px 25px;
  font-weight: 400;
  border-radius: 50px;
  box-shadow: 0px 5px 15px black;
  animation: vib 5s infinite;
  
}
@keyframes vib{
  0%{transform: skewY(0deg);}  
  40%{transform: skewY(0deg);}  
  42%{transform: skewY(5deg);}  
  44%{transform: skewY(-5deg);}  
  46%{transform: skewY(5deg);}  
  48%{transform: skewY(-5deg);}  
  50%{transform: skewY(5deg);}  
  52%{transform: skewY(-5deg);}  
  54%{transform: skewY(5deg);}  
  56%{transform: skewY(-5deg);}  
  58%{transform: skewY(5deg);}  
  60%{transform: skewY(0deg);}  
  100%{transform: skewY(0deg);}  
}

.roundimg{
  position: absolute;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOTAwIDI4NS40OCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2YyZjRmNzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmJhY2stMDAtYTE8L3RpdGxlPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjg5NS42NywyODUuNDhjLTE0OS44OS0yMDcuMzktMzg4LjgyLTIzNi4yNC03OTAtMTc5LjRsLTc3Mi4yMiwxMDkuNGMtMjcxLDM4LjQtNDQxLjg2LTI2LjA5LTYxNC44LTIxNS40OEwzMDkuNTUsNThDMjYzLDE1Mi4zNSwyMTEsMjI3LjI3LDE0Ny4xNiwyODUuNDhaIi8+PC9zdmc+);
  width: 200vw;
  background-position: -1200px -20px;
  background-size: cover;
  height: 400px;
  z-index: 0;
  padding-right:2px;
  top: 25%;
}












































